*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

html{
	max-width: 100vw;
	overflow-x: hidden;
}

body{
	overflow-x: hidden;
}

.container{
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	@include ph(60px);
}
