@mixin size($width, $height:$width) {
	width: $width;
	height: $height;
}

@mixin pv($pt, $pb:$pt){
	padding-top: $pt;
	padding-bottom: $pb;
}
@mixin ph($pl, $pr:$pl){
	padding-left: $pl;
	padding-right: $pr;
}


@mixin mv($mt, $mb:$mt){
	margin-top: $mt;
	margin-bottom: $mb;
}
@mixin mh($ml, $mr:$ml){
	margin-right: $mr;
	margin-left: $ml;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}