// все цвета здесь тестовые.
// лучше их объявить в переменных и сюда подтягивать
// и базовые падинги элементов желательно тоже в переменные




//готовое
















.options-group{
	@extend .clearfix;
	&__item{
		float: left;
	}
}


// в работе
.option{
	display: inline-block;
	cursor: pointer;
	user-select: none;
	margin: 0;
	&__name{
		display: block;
		cursor: pointer;

		background-color: $color_mute;
		color: #999;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		padding: 6px 14px;
	}
	&__input{
		display: none;
	}
	&__input:checked ~ #{&}__name{
		background-color: $color_base;
		color: #fff;
	}
	&__input:disabled ~ #{&}__name{
		opacity: 0.4;
	}
}









// черновики
.btn{
color: #777;
font-size: 16px;
font-weight: 400;
	display: inline-block;
	background-color: blue;
	border: none;
	color: #fff;
	font-weight: 300;
	padding: 10px 23px;
	user-select: none;
	outline: none !important;
	text-decoration: none;
	@extend %ts-bg;
	&_full-width{
		display: block;
		width: 100%;
	}

	&:focus,
	&:active{
		// тут наверное нужно бордер чуть темнее сделать
	}
	&:hover{
		// а сюда добавить тень малозаметную
		cursor: pointer;
	}
	&_size_sm{
		//меньше чем базовая
	}
	&_size_xl{
		//больше чем базовая
	}
}

.input{
	display: block;
	height: 49px;
	@include ph(15px);
	border-radius: 5px;
	border: 1px solid #303030;
	&:focus,
	&:active,
	&:hover{
		outline: none;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
	}
	&_error{
		border-color: #ff0000;
	}
	// отключение стрелочек у type=number
	&[type=number]::-webkit-outer-spin-button,
	&[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.textarea{
	@extend .input;
	@include pv(12px);
	height: auto;
	&_resize-off,
	&_resize-none{
		resize: none;
	}
}

.checkbox{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 16px;
	cursor: pointer;
	user-select: none;
	&__name{
		color: #33444e;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
		position: relative;
		top: 3px;
		word-break: break-word;
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	&__view{
		@include size(21px);
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #ddd;
		background-color: #fff;
		&:after{
			content: "";
			display: block;
			@include size(4px, 9px);
			position: absolute;
			left: 7px;
			top: 3px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	input:checked ~ &__view{
		border-color: red;
		background-color: blue;
	}
}


.radio{
	display: block;
	position: relative;
	margin-bottom: 16px;
	cursor: pointer;
	user-select: none;
	&__name{
		color: #33444e;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
		position: relative;
		top: -2px;
	}
	&__input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	&__view{
		display: inline-block;
		@include size(14px);
		margin-right: 14px;
		border-radius: 50%;
		position: relative;
		background-color: red;
	}

	&__input:checked ~ #{&}__view{
		&:after{
			content: '';
			display: block;
			@include size(20px);
			border: 2px solid red;
			border-radius: 50%;
			position: absolute;
			top: -5px;
			left: -5px;
		}
	}
}

.dropdown{
	display: inline-block;
	position: relative;
	z-index: 20;
	min-width: 110px;
	&__current{
		@include ph(0);
		display: inline-block;
		//color: $c_orange;
		font-size: 11px;
		font-weight: 500;
		text-decoration: underline;
		text-transform: uppercase;
		letter-spacing: 0.75px;
		border: none;
		background-color: transparent;
		user-select: none;
		outline: none;
		&:hover{
			cursor: pointer;
		}
	}
	&__list{
		@extend %ul-default;
		display: none;
		background-color: #fff;
		position: absolute;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		left: 0;
		top: 105%;
	}
	&_visible{
		z-index: 25;
	}
	&_visible #{&}__list{
		display: inline-block;
	}
	&__item{
		display: block;
		&:not(:last-child){
			border-bottom: 1px solid #eee;
		}
		a{
			display: inline-block;
			padding: 6px 10px;
			color: red;
		}
	}
	// показываю как стилизовать чем модификатор
	&_mod_1{
		// параметры для блока дропдаун
	}
	&_mod_1 #{&}__item{
		//параметры элемента item для модификатора mod_1 блока dropdown и т.д.
	}
}

















