
//- если нужно задать особое поведение/стиль какому-либо элементу используем ключ modifier и в шаблоне прописываем как модификатор
-
	var
	newsList = {
		'title': 'Свежие новости', // использовать, если есть несколько одинаковых шаблонов с разными заголовками
		'subtitle': '',
		'items': [
			{
				'name': 'Новость 1',
				'url': '#1',
				'img': {
					'src' : 'img/content/cat-item-1.png',
					'alt' : 'описание',
					'width' : '',
					'height' : '',
				},
			},
			{
				'name': 'Новость 2',
				'url': '#33',
				'img': {
					'src' : 'img/content/cat-item-1.png',
					'alt' : 'описание',
					'width' : '',
					'height' : '',
				},
			},
		]
	},

	newsDetail = {},

	catalogList = {
		'title': 'Каталог',
		'subtitle': '',
		'items': [
			{
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '#1',
				'status': 'in_stock',
				'prices':{
					'current': '128',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/catalog-item.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'props': [],
			},
			{
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '#1',
				'status': 'in_stock',
				'prices':{
					'current': '128',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/catalog-item.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'props': [],
			},
			{
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '#1',
				'status': 'in_stock',
				'prices':{
					'current': '128',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/catalog-item.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'props': [],
			},
			{
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '#1',
				'status': 'in_stock',
				'prices':{
					'current': '128',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/catalog-item.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'props': [],
			},
			{
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '#1',
				'status': 'in_stock',
				'prices':{
					'current': '128',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/catalog-item.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'props': [],
			},
			{
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '#1',
				'status': 'in_stock',
				'prices':{
					'current': '128',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/catalog-item.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'props': [],
			},
			{
				'name': 'Лампа светодиодная SAFFIT SBA6015 Шар 15W 6400K E27 55012',
				'url': '#1',
				'status': 'in_stock',
				'prices':{
					'current': '128',
					'old': '198',
				},
				'img': [
					{
						'src' : 'img/c/catalog-item.jpg',
						'alt' : 'что-то там',
						'width' : '',
						'height' : '',
					}
				],
				'props': [],
			},
		]
	},

	catalogDetail = {},

	$categories_list = {
		'title': '',
		'items': [
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			},
			{
				'name' : 'Форма «Груша» А60, А65',
				'url' : '#',
				'img' : {
					'src' : 'img/c/catalog-cat.jpg',
					'alt' : 'описание',
					'width' : '',
					'height' : ''
				}
			}
		]
	};