// страница каталога

.catalog{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	&__sidebar{
		width: 30%;
	}
	&__container{
		width: 70%;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		border-width: 0;
		border-color: #e0e0e0;
		border-style: solid;
		border-left-width: 1px;
		border-top-width: 1px;

	}
	&__item{
		width: 33.33333333%;
		border-width: 0;
		border-color: #e0e0e0;
		border-style: solid;
		border-right-width: 1px;
		border-bottom-width: 1px;
	}
	&__header{

	}
	&__header-line{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__current-filter{
		padding: 20px;
		border: 1px solid #e0e0e0;
	}
	&__pagination{
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
}

.catalog-item{
	padding: 30px;
	padding-top: 50px;
	&__image{
		height: 220px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	&__name{
		color: #000;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	&__price-old{
		color: #999;
		font-size: 20px;
		font-weight: 300;
		text-decoration: line-through;
	}
	&__price-current{
		color: #000;
		font-size: 28px;
		font-weight: 500;
	}
	&__avly{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

























