// блоки, участвующие на разных страницах


.pagination{
	@extend %ul-default;
	display: inline-flex;
	&__link{
		display: block;
		@include size(40px);
		line-height: 40px;
		text-align: center;
		color: #999;
		font-size: 16px;
		font-weight: 400;
		border-radius: 2px;
		background-color: #f0f0f0;
	}
	&__item{
		@include mh(2.5px);
		&_arrow{
			@include mh(17.5px);
		}
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__item_active #{&}__link{
		background-color: #3366cc;
		color: #fff;
	}
}