extend include/template1

block variables
	- 
		var title = 'Ошибка 404';
	
		var breadcrumbs = [
				{
					'name': 'Главная',
					'url': '#'
				},
				{
					'name': '404',
					'url': ''
				}
			];

block content