extend include/template1

block variables
	- 
		var title = 'Каталог';
	//-
		var breadcrumbs = [
				{
					'name': 'Главная',
					'url': '#'
				},
				{
					'name': 'Каталог товаров',
					'url': ''
				},
				{
					'name': 'Источники света',
					'url': ''
				},
				{
					'name': 'Светодиодные лампы',
					'url': ''
				}
			];

block content
	.container
		h1 Светодиодные лампы
	section.container
		.catalog
			aside.catalog__sidebar
				.filter
					span содержимое фильтра
			.catalog__container
				//- блок для параметров сортировки и текущих выбранных фильров
				.catalog__header
					.catalog__header-line
						.catalog__sort
							span тут сортировка
						.catalog__view-settings
							span тут настройка вида
					.catalog__current-filter.current-filter
						span область для показа текущих фильтров

				.catalog__body
					.catalog__list
						-$result = catalogList.items

						each item, index in $result
							.catalog__item.catalog-item
								a.catalog-item__image(href=item.url)
									img(src=item.img[0].src)
								a.catalog-item__name(href=item.url)= item.name
								.catalog-item__info
									.catalog-item__price-old
										span= item.prices.old
									.catalog-item__avly
										.catalog-item__price-current
											span= item.prices.current+ '₽'
										.catalog-item__status.status
											.status__indicator
											.status__text



				//- блок для пагинации и показать еще
				.catalog__footer
					.catalog__pagination
						ul.pagination
							li.pagination__item.pagination__item_arrow
								a.pagination__link(href="#")
									+icon('triangle', 'svg-icon_pagination rotate-180')
									span В начало
							li.pagination__item.pagination__item_active
								a.pagination__link(href="#") 1
							li.pagination__item
								a.pagination__link(href="#") 2
							li.pagination__item
								a.pagination__link(href="#") 3
							li.pagination__item
								a.pagination__link(href="#") 4
							li.pagination__item
								a.pagination__link(href="#") 5
							//-
								li.pagination__item.pagination__item_arrow
									a.pagination__link(href="#") вперед




	.test(style="margin-bottom: 250px")





















