extend include/template1

block variables
	- 
		var title = $categories_list.title;
	
		var breadcrumbs = [
				{
					'name': 'Главная',
					'url': '#'
				},
				{
					'name': 'Каталог товаров',
					'url': ''
				},
				{
					'name': 'Источники света',
					'url': ''
				},
				{
					'name': 'Светодиодные лампы',
					'url': ''
				}
			];

block content	
	section.container
		.catalog