extend include/template1

block variables
	- 
		var title = "UI-Kit";


block content


	style.
		.dev{
			display: flex;
			flex-wrap: wrap;
		}
		.dev__item{
			border: 1px solid #eee;
			padding: 20px;
			width: 33.3333333%;
		}

























	section.container.mt-10
		h1 готовые блоки
		.dev
			.dev__item
				.options-group
					label.options-group__item.option
						input.option__input(type="checkbox", name="test1", checked)
						span.option__name Е14
					label.options-group__item.option
						input.option__input(type="checkbox", name="test1")
						span.option__name Е27
					label.options-group__item.option
						input.option__input(type="checkbox", name="test1")
						span.option__name Е40
					label.options-group__item.option
						input.option__input(type="checkbox", name="test1", disabled)
						span.option__name GX53
					label.options-group__item.option
						input.option__input(type="checkbox", name="test1")
						span.option__name B22
			.dev__item
				.options-group
					label.options-group__item.option
						input.option__input(type="radio", name="test1", checked)
						span.option__name Е14
					label.options-group__item.option
						input.option__input(type="radio", name="test1")
						span.option__name Е27
					label.options-group__item.option
						input.option__input(type="radio", name="test1")
						span.option__name Е40
					label.options-group__item.option
						input.option__input(type="radio", name="test1", disabled)
						span.option__name GX53
					label.options-group__item.option
						input.option__input(type="radio", name="test1")
						span.option__name B22
			.dev__item
			.dev__item
			.dev__item
			.dev__item
			.dev__item
			.dev__item
			.dev__item
	hr
	section.container.mt-10
		h1 в разработке
		.dev
			.dev__item
				

	hr
	section.container.mt-80
		h1 заготовки(не нужно на них внимание обращать)
		.dev


			.dev__item
				.range-slider
					.range-slider__input-wrapper
						input.input.range-slider__input.js--range-from(type="number")
						span -
						input.input.range-slider__input.js--range-to(type="number")
					input.js--range-slider(
						type = "text",
						data-min = "2344",
						data-max = "39900",
						data-from = "5100",
						data-to = "25600",
					)


			.dev__item
				+checkbox('2700 K', '')
				+checkbox('3700 K', '1')
				+checkbox('творог', '1')


			.dev__item
				input.input(type="text", placeholder="поле ввода")
				input.input(type="number", placeholder="поле ввода цифр")


			.dev__item
				textarea.textarea(placeholder="область ввода текста")


			.dev__item
				textarea.textarea.textarea_resize-off(placeholder="область ввода текста без резайза")


			.dev__item
				input.btn(type="submit", value="кнопка отправки формы")
				button.btn(type="submit") элемент button
				a.btn(href="#") ссылка в стиле кнопки

			.dev__item
				button.btn.btn_w-icon(type="submit")
					+icon('filter', 'svg-icon_filter-in-button')
					|элемент button c иконкой


			.dev__item
				label.radio
					input.radio__input(type="radio", name="color_body")
					span.radio__view
					span.radio__name Белый
				label.radio
					input.radio__input(type="radio", name="color_body")
					span.radio__view
					span.radio__name Оранжевый
				label.radio
					input.radio__input(type="radio", name="color_body")
					span.radio__view
					span.radio__name Черный
			.dev__item
				.dropdown
					button.dropdown__current.js-dropdown По цене
					ul.dropdown__list
						li.dropdown__item.drop-item
							a(href="#") По хлебу
						li.dropdown__item.drop-item
							a(href="#") По мясу






















